.cartmain{
    background-color: rgb(191, 187, 166);
    text-align: center;
}
.Headsection{
    background-color: rgb(235, 235, 226);
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.cart{
    height: 400px;
    background-color: rgb(191, 187, 166);
    width: 330px;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
    display: grid;

    border-radius: 70px;
    text-align: center;
    margin: 10px;
    
}
.cart  img{
    height: 500px;
    margin-top: -129px
    
}
.cart h2
{
    margin-top: -125px;
}
.cart button
{
    
    height: 37px;
    width: 250px; 
    margin-top: -50px;
    margin-left: 85px;
    background-color:rgb(142, 182, 206);
    border: none;
    border-radius: 10px;
    font-size: larger;
}
.cart button:hover{
    cursor: pointer;
}