
  .Footer{
      height: 60px;
      width: 100%;
      background-color: rgb(216, 214, 202);
      display: flex;
      justify-content: center;
  }
  .Footer input{
      height: 40px;
      width: 500px;
      margin: 10px;
      text-align: center;
      border: none;
  }
.Footer button{
    height: 40px;
    width: 200px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(82, 108, 128);
}
.Footer img{
    height: 40px;
    
    margin: 10px;
}