* {
    margin: 0;
    padding: 0;
  }

  /* NAVBAR STLE */
.navbar{
    background-color: rgb(50, 53, 56);
    height: 50px;
    width: 100%;
    
    padding-top: 15px;
    display: flex;

}
.logo img{
    width: 100px;
    height: 25px;
    padding-left: 15px;

}
.searchbar{
    display: flex;
    
}
.searchbar input{
width: 300px;
height: 30px;
margin-left: 50px;
border: none;
text-align: center;
margin-right: 20px;
text-decoration: none;
font-size: 15px;
}
.searchbar button{
    height: 30px;
    width: 70px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background-color:  rgb(235, 235, 226);
}
.navbar a{
    margin-left: 140px;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.navbar a:hover{
    color: rgb(14, 10, 17);
}
  /* NAVBAR STLE */
