* {
  margin: 0;
  padding: 0;
}
.products {
    background-color: rgb(247, 244, 230);
    height:950px;
  width: 100%;

  
}
.top {
  height: 150px;
  background-color: rgb(216, 214, 202);

}
.top h1 {
  font-size: 50px;
  text-align: center;
}
.top h2 {
  text-align: center;
  color: rgb(73, 90, 93);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.category {
  height: 50px;
  background-color: rgb(216, 214, 202);
  display: flex;  

  justify-content: center;
}
.category h1 {
  padding-left: 40px;
  font-size: 20px;
  padding: 10px  ;
  color: rgb(72, 70, 68);
  margin: 10px 10px;
  border-radius: 10px;
}
.cards {
  display: flex;
  height: 360px;
  overflow: hidden;
}

.singlecard {
  height: 350px;
  width: 350px;
  margin: 13px;
    border-radius: 70px;
  padding: 2px;
  justify-content: center;
  border: 10px;
  background-color: rgb(216, 214, 202);
  
}
